WHATSAPP_PROVIDER=meta
WAHA_API_URL=
WAHA_API_KEY=
WAHA_SESSION=default
WHATSAPP_API_URL=https://graph.facebook.com/vXX.X
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
DEFAULT_ADMIN_WHATSAPP=
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_NAME=
